from google colab import files #匯入套件

import pandas as pd

upload = files.upload() #開啟上傳介面並載入

data = pd.read_csv("剛剛上傳的檔案名稱")

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/COMPUTER_CLASS/WEEK3/") # 切換目錄
!ls -l "/content/gdrive/My Drive/COMPUTER_CLASS/WEEK3/" # 列出目錄下的檔案

Mounted at /content/gdrive/
total 204
-r-------- 1 root root  92484 Feb 26 03:15  112_student.csv
-rw------- 1 root root    182 Mar 19 05:00 '112_students_tf (1).gsheet'
-rw------- 1 root root 112595 Mar 12 06:26  112_students_tf.csv
-rw------- 1 root root    182 Mar 19 05:04  112_students_tf.gsheet
-rw------- 1 root root   1404 Apr 12  2023  2-2各級學校數按區域及縣市分.csv
-rw------- 1 root root    182 Mar  5 06:38  e2.gsheet
-rw------- 1 root root    182 Mar  5 06:38  t1.gdoc

In [2]:
import pandas as pd

csv_file = './112_student.csv'
csv_file ="./112_student.csv"

#columns = [
#    "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
#    "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
#    "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
#    "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
#]
df = pd.read_csv(csv_file)
print(df.head())

#查看資料欄位資訊
print(df.info())

#查看資料的統計學資訊描述
print(df.describe(include='all'))

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3  112     1  國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4  112     2  國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般
3     0     0     0     0     0   316   499  30 臺北市  1 一般
4    60   110    50   115    56     0     0  18 新竹市  1 一般

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None
          學年度         學校代碼    學校名稱 日間∕進修別   等級別            總計           男生計  \
count   764.0   764.000000     764    764   764    764.000000    764.000000
unique    NaN          NaN     145      4    10           NaN           NaN
top       NaN          NaN  弘光科技大學    D 日  M 碩士           NaN           NaN
freq      NaN          NaN      10    448   249           NaN           NaN
mean    112.0   756.200262     NaN    NaN   NaN   1433.022251    708.655759
std       0.0   504.152506     NaN    NaN   NaN   2633.932756   1385.170171
min     112.0     1.000000     NaN    NaN   NaN      1.000000      0.000000
25%     112.0    48.000000     NaN    NaN   NaN    103.750000     43.750000
50%     112.0  1029.000000     NaN    NaN   NaN    373.500000    180.000000
75%     112.0  1060.000000     NaN    NaN   NaN   1387.500000    590.500000
max     112.0  3002.000000     NaN    NaN   NaN  19466.000000  10885.000000

                 女生計         一年級男         一年級女  ...        五年級男        五年級女  \
count     764.000000   764.000000   764.000000  ...  764.000000  764.000000
unique           NaN          NaN          NaN  ...         NaN         NaN
top              NaN          NaN          NaN  ...         NaN         NaN
freq             NaN          NaN          NaN  ...         NaN         NaN
mean      724.366492   177.971204   173.545812  ...   11.871728   20.469895
std      1348.848241   349.047086   321.080379  ...   32.233288   81.117153
min         0.000000     0.000000     0.000000  ...    0.000000    0.000000
25%        50.000000     5.000000     4.000000  ...    0.000000    0.000000
50%       166.000000    41.000000    37.000000  ...    0.000000    0.000000
75%       718.500000   161.250000   188.250000  ...    6.000000    6.000000
max     10716.000000  2709.000000  2519.000000  ...  309.000000  897.000000

              六年級男        六年級女        七年級男        七年級女         延修生男  \
count   764.000000  764.000000  764.000000  764.000000   764.000000
unique         NaN         NaN         NaN         NaN          NaN
top            NaN         NaN         NaN         NaN          NaN
freq           NaN         NaN         NaN         NaN          NaN
mean      4.810209    3.615183    2.955497    1.742147    36.647906
std      19.818557   13.204157   17.768959    8.937397    98.370926
min       0.000000    0.000000    0.000000    0.000000     0.000000
25%       0.000000    0.000000    0.000000    0.000000     0.000000
50%       0.000000    0.000000    0.000000    0.000000     0.000000
75%       0.000000    0.000000    0.000000    0.000000    21.000000
max     179.000000  125.000000  312.000000  132.000000  1448.000000

               延修生女    縣市名稱   體系別
count    764.000000     764   764
unique          NaN      24     3
top             NaN  30 臺北市  2 技職
freq            NaN     120   468
mean      27.591623     NaN   NaN
std       74.731977     NaN   NaN
min        0.000000     NaN   NaN
25%        0.000000     NaN   NaN
50%        0.000000     NaN   NaN
75%       18.250000     NaN   NaN
max     1107.000000     NaN   NaN

[11 rows x 26 columns]

# 1.哪間大專院校有最多的學士生

step1: 取出想要查看的欄位，並印出此資料集共有多少筆紀錄 (len)

step2: 篩選等級別為"B 學士"的DataFrame，並印出有招生學士學制的學校數量

step3: 依據"總計"從大到小排序並印出結果 (sort_values, by, ascending)

In [3]:
# 請在"填空"處，輸入所需要的指令或參數

df1 = df[['等級別']] # 取出想要觀看的欄位
print(f"本資料集共有" ,{len(df1)}, "筆紀錄")

df1_1 = df1[df1['等級別'] == 'B 學士']
print(f"有招生學士學制的學校數量為",{len(df1_1)}, "\n")
df1_1_sorted = df.sort_values(by='總計', ascending = False)
print("112學年度在籍的學士生最多人數之學校為", df1_1_sorted.head(1)['學校名稱'].values)

本資料集共有 {764} 筆紀錄
有招生學士學制的學校數量為 {97}

112學年度在籍的學士生最多人數之學校為 ['淡江大學']

# 2. 國立？所；私立？所

step1: 建立空字串 (lsit=[])

step2: 建立for迴圈，配合if else條件，取出國立與私立

step3: 新增「公私立」column在DataFrame中 (df['公私立'])

step4: 篩選掉重複的學校代碼資料 (drop_duplicates)

step5: 計算公立與私立學校的筆數，並印出結果 (value_counts)

In [4]:
type_list = [] # 建立空字串

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('國立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column
df2 = df.drop_duplicates('學校代碼')
count = df2['公私立'].value_counts()

print(f"本資料集共收集了{len(df2)} 所學校，其中公立：{count['國立']} 所；私立：{count['私立']}所。")

本資料集共收集了145 所學校，其中公立：47 所；私立：98所。

# 3. 各等級別學制共有？所

step1: 篩選掉重複的學校名稱與等級別 (drop_duplicates, subset)

step2: 計算出等級別的筆數 (value_counts)

step3: 建立等級別的字串，並找出其類別 (unique)

step4: 使用for迴圈，依序列出所有等級別學制的學校數量 (count)

In [5]:
df3 = df.drop_duplicates(subset=['學校名稱','等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].unique())

print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree[2:]}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收博士。
一共有130 所學校， 有招收碩士。
一共有67 所學校， 有招收學士。
一共有1 所學校， 有招收4+X。
一共有71 所學校， 有招收二技。
一共有66 所學校， 有招收四技。
一共有46 所學校， 有招收五專。
一共有2 所學校， 有招收七年。
一共有46 所學校， 有招收二專。
一共有1 所學校， 有招收二年制。

# 4. 各縣市分別有？所，位於新北市的大專院校總共有幾所

In [6]:
site_list=[]

for i in df['縣市名稱']:
  site_list.append(i[3:])
df['縣市']=site_list
df4 = df.drop_duplicates('學校代碼')

count = df4['縣市'].value_counts()
site_list = df['縣市'].unique()
print(f"本資料集總共收集了 {len(df4)} 所學校，其中：")
for site in site_list:
    print(f"{site}一共有{count[site]} 所學校")
city=df4[df4['縣市']=='新北市']
print('\n',city['縣市'].value_counts())

本資料集總共收集了 145 所學校，其中：
臺北市一共有24 所學校
新竹市一共有5 所學校
臺南市一共有13 所學校
臺中市一共有17 所學校
桃園市一共有12 所學校
高雄市一共有15 所學校
基隆市一共有3 所學校
嘉義縣一共有4 所學校
彰化縣一共有4 所學校
新北市一共有20 所學校
嘉義市一共有2 所學校
花蓮縣一共有4 所學校
南投縣一共有2 所學校
雲林縣一共有3 所學校
屏東縣一共有5 所學校
臺東縣一共有2 所學校
宜蘭縣一共有3 所學校
苗栗縣一共有3 所學校
澎湖縣一共有1 所學校
金門縣一共有1 所學校
新竹縣一共有2 所學校

 新北市    20
Name: 縣市, dtype: int64

# 5. 北中南東區分別有？所

都市及區域發展統計彙編 - 國發會 https://www.ndc.gov.tw/nc_77_4402

北部區域：包括臺北市、新北市、基隆市、新竹市、桃園市、新竹縣及宜蘭縣。

中部區域：包括臺中市、苗栗縣、彰化縣、南投縣及雲林縣。

南部區域：包括高雄市、臺南市、嘉義市、嘉義縣、屏東縣及澎湖縣。

東部區域：包括花蓮縣及臺東縣。

福建省：包括金門縣與連江縣。

In [7]:
site_to_area={'臺北市':'北部','新北市':'北部','基隆市':'北部','新竹市':'北部','桃園市':'北部',
          '新竹縣':'北部','宜蘭縣':'北部','臺中市':'中部','苗栗縣':'中部','彰化縣':'中部',
          '南投縣':'中部','雲林縣':'中部','高雄市':'南部','臺南市':'南部','嘉義市':'南部',
          '嘉義縣':'南部','屏東縣':'南部','澎湖縣':'南部','花蓮縣':'東部','臺東縣':'東部',
          '金門縣':'福建省'}
df['區'] = df['縣市'].map(site_to_area)

df5 = df.drop_duplicates('學校代碼')
count = df5['區'].value_counts()
print(f"此資料共有{len(df5)}所，其中:")
print(f"北部有{count['北部']}所;\n中部有{count['中部']}所;\n南部有{count['南部']}所;\n東部有{count['東部']}所;\n福建省有{count['福建省']}所")

此資料共有145所，其中:
北部有69所;
中部有29所;
南部有40所;
東部有6所;
福建省有1所

# 6. 各體系別分別有？所

In [8]:
df6=df.drop_duplicates('學校代碼')
count=df6['體系別'].value_counts()
print(f"本資料集共收集了 {len(df6)} 所學校，其中：技職體系有 {count['2 技職']} 所；一般體系有 {count['1 一般']} 所；師範體系有 {count['3 師範']} 所。")

本資料集共收集了 145 所學校，其中：技職體系有 78 所；一般體系有 62 所；師範體系有 5 所。

# 7. 國立/私立與男女比
請問國立大學與私立大學在學男生女生比例為何? 延修生男生女生比例為何?

In [9]:
count={}
def create_count_dict(df,count):
  df7 = df.drop_duplicates('學校代碼')
  for i in df7['學校名稱']:
        count[i] = {}
        count[i]['在學'] = {}
        count[i]['在學']['男生數'] = 0
        count[i]['在學']['女生數'] = 0
        count[i]['延修'] = {}
        count[i]['延修']['男生數'] = 0
        count[i]['延修']['女生數'] = 0


def count_every_schools_data(df):
    for j in range(len(df)):
        count[df.iloc[j,2]]['在學']['男生數'] += (int(df.iloc[j,8]) + int(df.iloc[j,10]) + int(df.iloc[j,12]) + int(df.iloc[j,14]) + int(df.iloc[j,16]) + int(df.iloc[j,18]) + int(df.iloc[j,20]))
        count[df.iloc[j,2]]['在學']['女生數'] += (int(df.iloc[j,9]) + int(df.iloc[j,11]) + int(df.iloc[j,13]) + int(df.iloc[j,15]) + int(df.iloc[j,17]) + int(df.iloc[j,19]) + int(df.iloc[j,21]))
        count[df.iloc[j,2]]['延修']['男生數'] += int(df.iloc[j,22])
        count[df.iloc[j,2]]['延修']['女生數'] += int(df.iloc[j,23])

create_count_dict(df, count)
count_every_schools_data(df)
public_current_male = 0
public_current_female = 0

df7_1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_1)):
    if df7_1.loc[i,'公私立'] == '國立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['在學']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['在學']['女生數']

ratio = public_current_male/public_current_female*100
print(f'國立大學在學生男女比：{ratio} ≑ {round(ratio,2)}')

df7_2 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_2)):
    if df7_2.loc[i,'公私立'] == '私立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['在學']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['在學']['女生數']

ratio = public_current_male/public_current_female*100
print(f'私立大學在學生男女比：{ratio} ≑ {round(ratio,2)}')

df7_3 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_3)):
    if df7_3.loc[i,'公私立'] == '國立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['延修']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['延修']['女生數']

ratio = public_current_male/public_current_female*100
print(f'國立大學延修生男女比：{ratio} ≑ {round(ratio,2)}')

df7_4 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_4)):
    if df7_4.loc[i,'公私立'] == '私立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['延修']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['延修']['女生數']

ratio = public_current_male/public_current_female*100
print(f'私立大學延修生男女比：{ratio} ≑ {round(ratio,2)}')

國立大學在學生男女比：119.10964038427396 ≑ 119.11
私立大學在學生男女比：96.44547804394217 ≑ 96.45
國立大學延修生男女比：96.9910906275184 ≑ 96.99
私立大學延修生男女比：97.83110715989419 ≑ 97.83

# 8. 國立大學在學生男女比

In [10]:
create_count_dict(df, count)
count_every_schools_data(df)
public_current_male = 0
public_current_female = 0
df7_1 = df.drop_duplicates('學校代碼', ignore_index=True)
for i in range(len(df7_1)):
    if df7_1.loc[i,'公私立'] == '國立':
        public_current_male += count[df7_1.loc[i,'學校名稱']]['在學']['男生數']
        public_current_female += count[df7_1.loc[i,'學校名稱']]['在學']['女生數']

ratio = public_current_male/public_current_female*100
print(f'國立大學在學生男女比：{ratio} ≑ {round(ratio,2)}')

國立大學在學生男女比：119.10964038427396 ≑ 119.11

 # 9. 每校平均最多與最少人的體系

In [11]:
df8 = df.drop_duplicates('學校代碼')
system_count = df8['體系別'].value_counts()

system_list = list(df['體系別'].unique())
count_student = 0
result_dict = {}

for system in system_list:
    for i in range(len(df)):
        if df.loc[i,'體系別'] == system:
            count_student += int(df.loc[i, '總計'])
    result_dict[system[2:]] = count_student/system_count[system]
    count_student = 0

max_value = max(result_dict.values())
min_value = min(result_dict.values())
max_key = next(key for key, value in result_dict.items() if value == max_value)
min_key = next(key for key, value in result_dict.items() if value == min_value)

print(f"每校平均最多人的是{max_key}體系，平均每校 {round(max_value,2)} 人；")
print(f"每校平均最少人的是{min_key}體系，平均每校 {round(min_value,2)} 人。")

每校平均最多人的是一般體系，平均每校 9224.89 人；
每校平均最少人的是技職體系，平均每校 6143.56 人。

# 10. 將新增的欄位寫入並儲存成新的CSV檔案，並命名為112_students_tf.csv

新增的欄位有"公私立"，"縣市名"，"區域"

In [12]:
df.head(2)
#df.to_csv('112_students_tf.csv', encoding='utf-8', sep=',')

,學年度,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男,一年級女,...,六年級女,七年級男,七年級女,延修生男,延修生女,縣市名稱,體系別,公私立,縣市,區
0,112,1,國立政治大學,D 日,D 博士,921,517,404,86,69,...,37,66,50,0,0,30 臺北市,1 一般,國立,臺北市,北部
1,112,1,國立政治大學,D 日,M 碩士,4231,1835,2396,598,809,...,0,0,0,0,0,30 臺北市,1 一般,國立,臺北市,北部

#11.日/職/修/進分別有幾所學校?

In [13]:
new_list=[]
df9 = df.drop_duplicates(subset=['學校名稱', '日間∕進修別'])
count = df9['日間∕進修別'].value_counts()
new_list = list(df['日間∕進修別'].unique())
for new in new_list:
    print(f"有{count[new]} 所學校， 有招收{new}。")

有145 所學校， 有招收D 日。
有120 所學校， 有招收N 職。
有30 所學校， 有招收P 進。
有87 所學校， 有招收N 修。

# 12.每種主攻方向(如:科技/財經/醫學/設計等)各有幾所大學?

In [35]:
way_list=[]

for i in df['學校名稱']:
    if ('藝術' in i) or ('戲曲' in i) or ('影藝' in i):
        way_list.append('藝術')
    elif ('教育' in i) or ('師範' in i):
        way_list.append('師範')
    elif ('醫學' in i) or ('醫事' in i) or ('醫藥' in i) or ('醫護' in i) or ('護理' in i) or ('藥理' in i) or ('健康管理' in i):
        way_list.append('醫療')
    elif ('財經' in i) or ('金融' in i) or ('商業' in i):
        way_list.append('商業')
    elif ('海洋' in i):
        way_list.append('海洋')
    elif ('交通' in i):
        way_list.append('交通')
    elif ('體育' in i):
        way_list.append('體育')
    elif ('餐旅' in i):
        way_list.append('餐旅')
    elif ('外語' in i) or ('文理' in i):
        way_list.append('文理')
    elif ('科技' in i) or ('技術' in i) or ('設計' in i):
        way_list.append('科技')
    else:
        way_list.append('一般')

df['方向'] = way_list
df10 = df.drop_duplicates('學校代碼')
count = df10['方向'].value_counts()

print(f"本資料集共收集了{len(df10)} 所學校，其中藝術：{count['藝術']} 所；師範：{count['師範']}所；文理：{count['文理']}所；科技：{count['科技']}所；醫療：{count['醫療']}所；商業：{count['商業']}所；海洋：{count['海洋']}所；交通：{count['交通']}所；體育：{count['體育']}所；餐旅：{count['餐旅']}所；一般：{count['一般']}所。")

本資料集共收集了145 所學校，其中藝術：5 所；師範：5所；文理：2所；科技：54所；醫療：21所；商業：3所；海洋：2所；交通：1所；體育：2所；餐旅：1所；一般：49所。

#13總計人數超過NNN

In [25]:
count

一般    487
科技    180
醫療     33
師範     20
藝術     17
體育     10
餐旅      8
海洋      5
交通      4
Name: 方向, dtype: int64

In [ ]:
len(df['學校名稱'])

764

In [ ]:
len(df['方向'])

764